.nav-bar-list{
    list-style-type: none;
    font-size: 12px;
    

}


a{
    text-decoration: none;
}


.left-nav ul {
margin-top: 5px;
margin-left: -25px;


}
.left-nav li{


    display: inline;
    float: left;
    margin-top:10px;
    margin-right: 1%;
   
    


}





.right-nav ul{


    display: inline;
    margin-top: 25px;
    margin-right: -10px;
    vertical-align: bottom;
   
}
.right-nav li{
    line-height: 30px;
    margin-right: 1.2%;
    display: inline;
    float: right;
    text-decoration: none;
    vertical-align: middle;
    margin-top: 10px;

}
#sign-in{
    display: table-cell;
    width: 70px;
    height: 30px;
    background-color: rgb(88, 128, 238);
    color: white;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    
}
